body {
    background-color: #111;
    padding: 2%;
}

.main-body {
    position: static;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgb(99, 99, 99);
    border-radius: 10px;
}

h1 {
    margin: 10px;
    color: #fff;
    position: relative;
    font-size: larger;
}

.input-field {
    width: 100px;
    height: auto;
    padding: 22px;
    box-sizing: border-box;
    color: #000000;
    padding: 5px;
    border-radius: 8px;
    width: calc(33.333333% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;

}

input[type=text],
textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 5px 0px 5px 5px;
    margin: 10px 2px 6px 0px;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus,
textarea:focus {
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    padding: 9px 0px 9px 9px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #5fa2b4;
}



.output-field {
    min-height: 20px;
    font-family: sans-serif;
    font-weight: 300;
    padding: 4px;
    margin: 200px 200px 200px 200px;
    color: rgb(0, 77, 88);
    font-weight: 900;
    border-radius: 10px;
    background-color: #fff;
}



.glow-on-hover {
    width: 80px;
    height: 50px;
    margin-top: 10px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #df5454, #e39453, #dedc49, #80cd61, #61d0be, #566aca, #8d4cd3, #b4479c, #cf4747);
    position: absolute;
    top: -5px;
    left: -5px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}